@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #02050a;
  --foreground: #171717;
  --nav-bg: #141c27;
  --primary-color: #55e6a5;
  --secondary-color: #09101a;
  --paragraph-color: #09101a;
}
@layer utilities {
  .clip-hexagon {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Geist Mono";
  src: url("/fonts/GeistMono-Regular.woff2") format("woff2");
  font-weight: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.nav-bg {
  background-color: var(--nav-bg);
}
.primary-color {
  background-color: var(--primary-color);
}
